<% response = get_username(@username) %>
<div><%= response["general"] %></div>
<h3>total <%= response['general']['total'] %></h3>
<div class="playerinfo">
  <h1>General</h1>
  <p>games played: <%= response['general']['games_played']%> </p>
  <p>games won: <%= response['general']['games_won'] %></p>
  <p>games lost: <%= response['general']['games_lost'] %></p>
  <p>time played: <%= response['general']['time_played'] %></p>
  <p>winrate: <%= response['general']['winrate'] %></p>
  <p>kda: <%= response['general']['kda'] %></p>
  <h3>total</h3>
  <p>assists: <%= response['general']['total']['assists'] %></p>
  <p>deaths: <%= response['general']['total']['deaths'] %></p>
  <p>damage: <%= response['general']['total']['damage'] %></p>
  <p>healing: <%= response['general']['total']['healing'] %></p>
</div>