<%= form_with url: "/get_username", method: :get, local: true  do |form| %>

  <p><%=form.label  :facc, 'Find account'%></p>
  <p><%=form.text_field :facc %></p>

  <p><%=form.submit 'Search' %></p>
<% end %>
<div>S!</div>

<%=@response %>