<%= form_with url: '/get_username', method: :post  do |form| %>
  <div><%=form.label 'Find account'%></div>
  <div><%=form.text_field 'answer' %></div>
  <div><%=form.submit 'Search' %></div>
<% end -%>


<%=@response -%>