<div id="general_info_player_container">
  <%= image_tag "#{@player_summary['avatar']}", id: "player_avatar" %>
  <div>
    <p id="player_title"><%= @player_summary['username'] %></p>
    <div id="p_info">
      <p>title: <span class="span_color_player"> <%= @player_summary['title'] %></span></p>
      <p>endorsement level: <span class="span_color_player"><%= @player_summary['endorsement']['level'] %></span></p>
    </div>
  </div>
</div>

<div id="player_stats_container">
  <h1 style="font-family: Overwatch Large ">GENERАL</h1>
  <p>games played: <%= @player_stats['general']['games_played']%> </p>
  <p>games won: <%= @player_stats['general']['games_won'] %></p>
  <p>games lost: <%= @player_stats['general']['games_lost'] %></p>
  <p>time played: <%= get_hours(@player_stats['general']['time_played']) %></p>
  <p>winrate: <%= @player_stats['general']['winrate'] %></p>
  <p>kda: <%= @player_stats['general']['kda'] %></p>
  <div>
  <%= button_to "subscribe", "/subscribe",  method: :post, params: { :player_stats => @player_stats, :player_summary => @player_summary }, class:"player_button" %>
</div>
</div>