<%hero = @hero%>

  <div style="display: flex" id="mainHeroTitle">
    <p><%=image_tag("#{hero.portrait}", id: "hPortrait") %></p>
    <div style="text-align: left">
    <p class="text-white"><%= hero.desc%></p>
    <p class="text-white"><%= hero.location %></p>
    <p class="text-white"><%= hero.name %></p>
    <p class="text-grey"><%= hero.role %></p>
  </div>

  </div>



<div id="abl">Abilities</div>

<div id="abilities">
  <% @hero.abilities.each do |ability| %>
    <div id="abilContent">
      <div id="abilTitle">
        <%= image_tag("#{ability["icon"]}", id: "abilImage") %>
        <p><%= ability["name"] %></p>

      </div>
      <p style="text-align: left"><%= ability["description"] %></p>
    </div>
  <%end %>

</div>
