<!DOCTYPE html>
<html>
  <head>
    <title>Overtrain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="wrapper">
  <div class="navbar">

    <p class="logo"><%= link_to "overtrain", root_path %></p>
    <div>
       <%if current_user.present?  %>
        <p><%= "@ #{current_user.nickname}"   %></p>
        <p><%=button_to 'Выйти', session_path, method: :delete, class: 'mr-sm' %> </p>
       <%else %>
       <%= link_to 'Регистрация', new_user_path %>
        <%= link_to 'Вход', new_session_path %>
       <%end %>
    </div>



  </div>



  <% if flash[:notice].present? %>
    <p class="flash"><%= flash[:notice]  %></p>
  <% elsif  flash[:alert].present?%>
  <p class="flash"><%= flash[:alert] %></p>
  <%end %>


    <%= yield %>
  </div>

  <h3>-</h3>
  <h3>-</h3>
  <h3>-</h3>
  <h3>-</h3>

  <footer>

    <h3>dsa</h3>




  </footer>
  </body>
</html>
