<!DOCTYPE html>
<html>
  <head>
    <title>Overtrain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div id="secondbackgr">
  <div id="content">
  <div class="wrapper">
  <div class="navbar">

    <p class="logo"><%= link_to "overtrain", root_path %></p>
    <p><%=link_to "OverWiki", "/wiki" %></p>
    <div class="login">
       <%if current_user.present?  %>
        <p><%= "@ #{current_user.user_id}"   %></p>
        <p><%=button_to 'Log Out', session_path, method: :delete, class: 'mr-sm' %> </p>
       <%else %>
       <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', new_session_path %>
       <%end %>
    </div>



  <% if flash[:notice].present? %>
    <p class="flash"><%= flash[:notice]  %></p>
  <% elsif  flash[:alert].present?%>
  <p class="flash"><%= flash[:alert] %></p>
  <%end %>


  </div>
    <%= yield %>

  </div>

  <footer>

    <a>footer</a>
    <a>Contact us</a>
    <a>FAQ</a>




  </footer>
  </div>
  </div>
  </body>
</html>
